<h1>About Me</h1>
<img class="profile" src="images/images.jpeg" height="400px" width="400px" alt="cat profile">
<p  font-size: 90px>
  Hi i am Pratyay Majhi from CSE(data science). I am curretnly learning full stack web developement. I have make a good number of projects on HTML,CSS,JS.
<br>
currently i am learning node.js ,EJS.
<br>
i have also a good knowledge in PYTHON.
<br>
and make a good number of projects in it.</p>