<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>

  </p>
  <p>
    This website is basically buid with HTMl and CSS and backend is done with node.js combined with 
  EJS.</p>

  <%- include("partials/footer.ejs") %>